%h1 Fuck you, this is the index page.
- @posts.each do |post|
 %h2= link_to post.title, post
 %p
 Whipped dis shit out at:
 = time_ago_in_words(post.created_at) + " ago"
%p
= link_to "New Post", new_post_path